[submodule "contracts/lib/forge-std"]
	path = contracts/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "contracts/lib/foundry-huff"]
	path = contracts/lib/foundry-huff
	url = https://github.com/huff-language/foundry-huff
[submodule "contracts/lib/huffmate"]
	path = contracts/lib/huffmate
	url = https://github.com/pentagonxyz/huffmate
