name: ci

on: [push]

jobs:
  forge-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Huff
        uses: huff-language/huff-toolchain@v2
        with:
          version: nightly
      - name: Run Tests
        run: forge test -vvv

  huff-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Huff
        uses: huff-language/huff-toolchain@v2
        with:
          version: nightly
      - name: Run Huff Tests
        uses: cheethas/huff-tests-action@v2
        with:
          with-forge-tests: false
          test-extension: ".t.huff"

  scripts:
    strategy:
      fail-fast: true
    name: Run Scripts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
      - name: Install Foundry
        uses: foundry-rs/foundry-toolchain@v1
        with:
          version: nightly
      - name: Install Huff
        uses: huff-language/huff-toolchain@v2
        with:
          version: nightly
      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build
        continue-on-error: true
      - name: Run scripts
        run: |
          ls -lsa
          ls script/
          for file in script/*; do
            forge script $file -vvvv
          done